/* class based decoration file */
.inline_cluster {
    display:     inline-block;
    margin-left: 0px;
    display:     flex;
    flex-flow:   row;
    /* flex-basis:  fit-content; */
}
.responsive_right_spreader {
}
.local_link {
    color:      yellow;
    background: red;
    padding:    5px;
}
.outfacing_link {
    color:      pink;
    background: blue;
    padding:    5px;
}
