/* class based decoration file */
.inline_center {
    display:     flex;
    flex-flow:   row;
    justify-content: center;
    align-items:     center;
}
.inline_cluster {
    display:     flex;
    flex-flow:   row;
}
.inline_cards {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: center;
    align-items:     center;
}
.block_cards {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
}
.card {
    padding: 10px;
}
.responsive_right_spreader {
    justify-content: end;
    align-items:     center;
}
.responsive_spreader {
    justify-content: space-between;
    align-items:     center;
}
.local_link {
    color:      yellow;
    background: red;
    padding:    5px;
}
.outfacing_link {
    color:      pink;
    background: blue;
    padding:    5px;
}
